secrets.el
*~ 
*#
abbrev_defs
ac-comphist.dat
elpa/
eshell/
ido.last
keyhistory
old_emacs_dot_git/
request/
smex-items
themes/
url/
keystrokes
games/

#  I would like to not use this at all
custom.el

flycheck_init.el